
@{
    ViewBag.Title = "Index";
}

@{ 
    string isim= "Hatice";
    string soyisim = "Deniz";

}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <br />
    @isim
    <br />
    @soyisim
    <br />
    @(isim+" "+soyisim)
    <br />
    <input type="text" value="" id="" maxlength="5" />
    <input type="text" value="" id="" />
    <input type="number" value="" id="" maxlength="1" />
</body>
</html>

