
@{
    string baslik = "Hoş Geldiniz";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategori</title>
</head>
<body>
    <div>
        <h2>Merhaba</h2>
    </div>
   
    <br />
 

    <div>
        <ul>
            <li class="item1">1.madde</li>
            <li class="item2">2.madde</li>
            <li class="item3">3.madde</li>
            <li class="item4">4.madde</li>
            <li class="item5">5.madde</li>
        </ul>
    </div>
    

</body>
</html>
